// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$navbar-md-height: 36px;




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.vertical-middle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
  }
.flashing{
	background:red;
	padding:5px 10px;
	color:rgb(214, 41, 41);
	border:none;
	border-radius:5px;
	display:inline-block;
	animation-name: flash;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/* Chrome 4+, Safari 4+, Opera 15+ */
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/* Firefox 5+ */
	-moz-animation-name: flash;
	-moz-animation-duration: 0.2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite
}

@keyframes flash {  
	0% { opacity: 1.0 }
	50% { opacity: 0.5 }
	100% { opacity: 1.0 }
}

/* Chrome 4+, Safari 4+, Opera 15+ */
@-webkit-keyframes flash {  
	0% { opacity: 1.0 }
	50% { opacity: 0.5 }
	100% { opacity: 1.0 }
}

/* Firefox 5+ */
@-moz-keyframes flash {  
	0% { opacity: 1.0 }
	50% { opacity: 0.5 }
	100% { opacity: 1.0 }
}